<nav class="navbar bg-dark  navbar-dark navbar-expand-lg  sticky-top  mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CampRanger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="/" style="margin-left: 10px; margin-right: 10px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="/campgrounds" style="margin-left: 10px; margin-right: 10px;">Campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Camp</a>
        </li>
   
      
    
      </ul>
      <form class="d-flex " role="search" method="get" action="/campgrounds/search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>



      <div class="navbar-nav">

        <a class="nav-link" href="#">   <%= testKeyword  %></a>
    
        <% if(!currentUser){ %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>

        <% } else{ %>

          <a class="nav-link" href="/logout">logout</a>

        <% } %>
      </div>
     


    </div>
  </div>
</nav>