<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>campRanger </title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="icon" type="image/x-icon" href="/assets/camping-favicon.png">





<script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />



</head>
<body class="d-flex flex-column vh-100">

<%- include('../partials/navbar.ejs') %>

  <div class="container">
    <%- include('../partials/flash.ejs') %>

    <%- body %>

  </div>





  <%- include('../partials/footer.ejs') %>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



<script src="/BSvalidateForm.js"></script>



<!-- Flash Alert dismissal code -->


<script type="text/javascript">
  // Wait for the document to be ready
  document.addEventListener('DOMContentLoaded', function () {
    // Get all elements with class "alert"
    const alerts = document.querySelectorAll('.flash');

    // Set a timeout to remove the element after 3 seconds
    window.setTimeout(function() {
      alerts.forEach(function(alert) {
        // Fade out the alert over 1 second
        alert.style.transition = 'opacity 1s';
        alert.style.opacity = '0';

        // Remove the alert from the DOM after the fade out
        window.setTimeout(function() {
          alert.parentNode.removeChild(alert);
        }, 300);
      });
    }, 5000);
  });
</script>

  
  
  


</body>
</html>