


<% layout('layouts/boilerplate.ejs') %>
  
<!-- <a href="/campgrounds/new"><button>Make a New Camp</button></a> -->



 
   <div class="d-flex justify-content-center align-items-center flex-column" style="height: 40vh;" >
    <h1>Error 404</h1>
   <h1>Sorry, the page your were looking for was not found :&#40;	</h1>
   <br> 
   <a href="/campgrounds"><button class="btn btn-success">Back to Home?</button></a>

   </div>

    
 




