<% layout('layouts/boilerplate.ejs') %>


<div class="container mt-2 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80s" alt="">
        <div class="card-body p-4">
          <h5 class="card-title mb-4">Register</h5>
          <form action="/register" method="POST" novalidate class="needs-validation mb-3">


            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" name="username" id="username" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                You must enter a username for the account.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input class="form-control" type="email" name="email" id="email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                You must enter an email for the account.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" name="password" id="password" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                You must enter a password for the account.
              </div>
            </div>
            <button class="btn btn-success">Register</button>
        
          </form>
        </div>

       
      </div>
    </div>
  </div>
</div>

      